@charset "utf-8";

body {
    font-family: sans-serif;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cell {
    font-family: cursive;
    width: 1em;
    height: 1em;
    border: 1px solid #6d7b94;
    color: white;
    user-select: none;
    text-align: center;
    line-height: 1em;
    font-size: 5em;
    font-weight: bolder;
}

.cell-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
}

.game-board {
    background-color: #3a4457;
    padding: 1.5em;
    border-radius: 25px;
}